* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 5, 64, 1) 38%,
    rgba(4, 81, 97, 1) 100%
  );
  min-height: 100vh;
}
